.blog__cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 370px 290px;
	row-gap: 40px;
	column-gap: 30px;
	margin: 0 auto;
	padding-top: 7px;
	max-width: 82%;
	list-style: none;
}