.main-card {
	grid-column: 1/-1;;
	/* position: relative; */
	display: flex;
	gap: 78px;
	/* flex-direction: column;
	justify-content: space-between;
	align-items: baseline; */

	/* padding-left: 478px; */
	min-height: 370px;
	background-color: var(--basic-black);
}