.feature {
	align-items: flex-end;
	padding-top: 164px;
	padding-right: 166px;
	min-height: 600px;
	background-image: url("../assets/img/feature-bg.jpg");
	background-size: 721px 600px;
	background-repeat: no-repeat;
	background-position: top left;
}